
body {
    background-color: #303030;
}

form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    background-color: #880088;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}
.button:hover {
    background-color: #660066
}

.login_banner {
    color: #bbbbbb;
}

.basedark {
    background-color: #303030;
    color: #bbbbbb;
}

.baselight {
    background-color: #bbbbbb;
    color: #cccccc;
}

.impinfo {
    color: #ff0000;
}

navbar {
    border: #aa0000;
}

.navbar-title {
    padding: 5px 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.navbar-title:hover {
    color: white;
    text-decoration: none;
}


.navbar-item {
    background-color: grey;
    color: white;
    padding: 6px 8px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.navbar-item:hover {
    color: white;
    text-decoration: none;
}

.well {
    background-color: #505050;
}
