{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>skynet.church</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}" id="index-nav">skynet.church</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/"></a> -->
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="navbar-brand">{{ current_user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" id="profile-nav" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li id="logout-nav">
                    <a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li class="nav-item">
                {% else %}
                <li class="nav-item">
                    <a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>

    {{ bootstrap.load_js() }}
</body>
</html>
